html{
    background-color: black;
}

header h1{
    text-align: center;
}

body{
    background-color: lightcoral;
    max-width:800px;
     
     
    margin:auto;
   
    
   
    
}
.mainpx{
    border: 5px solid green;
   
    max-width:500px;
    
}



header {
  
    text-align: center;
    
  
  }


  header a{
    margin-right: 10%;
    font-family: cursive;
    text-decoration: none;
    color: rgb(40, 40, 92);
  }
  a:hover{
      text-decoration:underline ;
  }
  

  #indexSection{
      text-align: center;
  }